name: linter-check

on: push

env:
  CI: true

jobs:

  linter:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:

      - uses: actions/checkout@v2

      - name: Run linter

        uses: actions/setup-node@v2

        with:
          node-version: ${{ matrix.node-version }}
          cache: true

      - run: make install
      - run: make lint